*{
  margin:0;
  padding:0;
}

.center{
  display: flex;
  justify-content: space-evenly;
   align-items: center;
}
.info{
  color: gray;
}

.game{
  flex-direction: column;
}

.header{
  flex-direction: column;
  background-color: #F7D047;
  height: 200px;
}
.timer{
  height: 70px;
  width: 20%;
  flex-direction: row;
}
.timer p{
  font-size: 25;
  text-align: center;
}

.message{
  height: 70px;
  color: white;
  font-size: 35px;
}
.gameBox{
  width: 600px;
  height: 600px;
  flex-direction: column;
}
.row{
  width: 90%;
   flex-direction: row;
   height: 100%;
}

.input{
  width: 30%;
  height: 90%;
  font-size: 60px;
  text-align: center; 
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{
  appearance: none;
}